<li>
  <div class="row">
    <div class="<%= user.id == message.user_id ? 'message-sent' : 'message-received' %>">
    <%= user.id == message.user_id ? "#{user.username}:" : "#{Message.get_opposed_user(user.id, message.conversation_id)}:" %>  <%= message.body %>
    </div>
  </div>
</li>



