<li>
  <div class="row">
    <div class="<%= user.id == message.user_id ? 'message-sent' : 'message-received' %>">
    <% if user.id == message.user_id %>
      <span id="red"><%= "#{user.username}:" %></span>
    <% else %>
      <span id="blue"><%= "#{Message.get_opposed_user(user.id, message.conversation_id)}:" %></span>
    <% end %> 
      <%= message.body %>
    </div>
  </div>
</li>



