/*
 *= require_tree .
 *= require_self
 *= require jquery-ui/draggable
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: Trebuchet MS;
  background: asset_url("windows_field.jpg") fixed;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

ul {
  padding-left: 0px;
  list-style: none;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}

.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}

#mydiv.panel.panel-primary {
  border-style: solid;
  border-top: 1px solid #0831d9;
  border-left: 1px solid #0831d9;
  border-bottom: 1px solid #001ea0;
  border-right: 1px solid #001ea0;
}

#mydivheader.panel-heading.title-bar {
  height:30px;
}

.log-in {
  margin-top: 8vw;
  margin-left: 35%;
  max-width: fit-content;
  max-height: 400px;
}

.title-bar {
  height: 30px;
  h4 {
    margin-top: 7px;
    margin-left: 10px;
  }
}

form#new_user.new_user {
  background-color: #dfdfdf;
  padding: 10px;
  box-shadow: inset -1px -1px #00138c, inset 1px 1px #0831d9, inset -2px -2px #001ea0, inset 2px 2px #166aee, inset -3px -3px #003bda, inset 3px 3px #0855dd;
}

.container {
  min-height: calc(100vh - 37px);
}

.footer {
  background: linear-gradient(
    180deg,
  #0997ff,
  #0053ee 8%,
  #0050ee 40%,
  #06f 88%,
  #06f 93%,
  #005bff 95%,
  #003dd7 96%,
  #003dd7);
  height: 37px;
}

.logo-pic {
  margin: 10px;
}

#time {
  margin-right: 20px;
  margin-top: 8px;
  float: right;
  color:white;
}